:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1E1E1E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  max-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

}

header {
  grid-area: header;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "title spacer toolbar";
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-bottom: 1px solid #333;
}

header h1 {
  grid-area: title;

  margin: 0;
  padding-right: auto;
}

header #toolbar {
  grid-area: toolbar;

  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

#toolbar button {
  width: 6.5em;
  height: 100%;
  border: none;
  height: 3.5em;
  background-color: #1E1E1E;
}

button:hover {
  background-color: #535bf2;
  cursor: pointer;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 0px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "editor resize display";
}

main #editor {
  grid-area: editor;
  background-color: #1E1E1E;
}

main #display {
  grid-area: display;
  display: grid;
  width: 100%;
  height: 100%;
}

#status {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0006;
  pointer-events: none;
}

:root[state=running] #status {
  visibility: visible;
}

#viewport {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}


footer {
  grid-area: footer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-top: 1px solid #333;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.loading-indicator {
  display: grid;
}

.loading-circle {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 1em solid #fff;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* media query on aspect ration smaller than 4:3 */
@media (max-aspect-ratio: 4/3) {
  html, body {
    overflow-x: ;
  }

  header {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "toolbar";
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5px 1fr;
    grid-template-areas:
      "display"
      "resize"
      "editor";
  }

  footer {
    display: none;
  }
}
